.my-caption{
    background: rgba(0,0,0,0.6);
    bottom: 50px;
}
.h-200{
    height: 200px;
}
.h-50{
    height: 50px;
}
.h-550{
    height: 550px;
}
.h-350{
    height: 350px;
}
.h-450{
    height: 450px;
}

body{
    background-color: #F6F6F6;
}
#bannar{
    background:url("../images/banner1.jpg");
    padding: 150px 0;
    margin:10px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* navigation part css starts */
.sub-header{
    background-color: #E2E2E2;
}
.navbar{
    background-color: #EFEFEF;
}
/* navigation part css ends */